<div class="wrapper">
   <div class="title">
     Login
   </div>
   <form (submit)="login()">
     <div class="field">
       <input type="text" [(ngModel)]="email" required>
       <label>Email Address</label>
     </div>
     <div class="field">
       <input type="password" [(ngModel)]="password" required>
       <label>Password</label>
     </div>
     <div class="content">
       <div class="checkbox">
         <input type="checkbox" id="remember-me">
         <label for="remember-me">Remember me</label>
       </div>
       <div class="pass-link">
         <a href="#">Forgot password?</a>
       </div>
     </div>
     <div class="field">
       <input type="submit" value="Login">
     </div>
     <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
     <div class="signup-link">
       Not a member? <a href="#">Signup now</a>
     </div>
   </form>
 </div>
 