<div class="container">
  <!-- Create Stock -->
  <div class="create-stock">
    <!-- <app-create-stock (stockCreated)="addStock($event)"></app-create-stock> -->
    <app-create-stock-2 (stockCreated)="addStock($event)"></app-create-stock-2>
  </div>

  <!-- Danh sách stock đã lọc -->
  <div class="stock-list">
    <div *ngFor="let stock of stocks">
      <app-stock-item
        [stock]="stock"
        (delete)="deleteStock($event)"
        (edit)="editStock($event)">
      </app-stock-item>
    </div>
  </div>
</div>
