<div class="container">
  <app-header></app-header>
  <!-- <app-create-stock-2 (stockCreated)="onStockCreated($event)"></app-create-stock-2> -->
  
  <div class="main-content" style="margin-top: 350px;">
    <router-outlet ></router-outlet>
    <!-- <div class="app-content">
      <app-header></app-header>
      <app-stock-search (searchKeyword)="onSearchStock($event)"></app-stock-search>
      <app-stock-list-2 [searchKeyword]="searchValue" [newStock]="newStock"></app-stock-list-2>
    </div> -->
  </div>
</div>
