html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  overflow-x: hidden;
}
::selection {
  background: #4158d0;
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
